@{
    ViewData["Title"] = "Home Page";
}
<style>
    #icon{
        margin-top:60px;
            font-size:70px;
            color:#0026ff;
    }
    #icon:hover{
        color:orangered;
        font-size:60px;


    }
    body {
        background-image: url(images/blue_abstract_background_310971.jpg);
        @* background-color: #efefef;*@
        @*background-color: #808080;*@
        max-width:100%;
        height:auto;
    }
}


</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div class="row">
    <div class="col-lg-3">
        <div class="card" sytle="height:200px">
            <div class="card-body">
                <h2 Style="text-align:Center">Profile</h2>
                <div style="text-align:center">
                    <i id="icon" class="fa fa-user"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card" sytle="height:200px">
            <div class="card-body">
                <h2 Style="text-align:Center">Education</h2>
                <div style="text-align:center">
                    <i id="icon" class="fa fa-book"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card" sytle="height:200px">
            <div class="card-body">
                <h2 Style="text-align:Center">Contact</h2>
                <div style="text-align:center">
                    <i id="icon" class="fa fa-phone"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card" sytle="height:200px">
            <div class="card-body">
                <h2 Style="text-align:Center">Location</h2>
                <div style="text-align:center">
                    <i id="icon" class="fa fa-map-marker"></i>

                </div>
            </div>
        </div>
    </div>
</div>

